* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #070b14;
    color: white;
    min-height: 100vh;
}

.navbar {
    height: 76px;
    padding: 0 6%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #0c111d;
    border-bottom: 1px solid #222c3c;

    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.start-btn {
    padding: 13px 20px;
    border: none;
    border-radius: 10px;

    background: #2563eb;
    color: white;

    font-weight: bold;
    cursor: pointer;
}

.start-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.hero {
    max-width: 1200px;
    margin: auto;
    padding: 80px 25px;

    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 50px;
    align-items: center;
}

.badge {
    display: inline-block;
    padding: 9px 16px;

    border-radius: 30px;

    background: #35131b;
    color: #ff5869;

    font-size: 13px;
    font-weight: bold;
}

h1 {
    font-size: 56px;
    line-height: 1.05;
    margin: 25px 0;
}

h1 span {
    display: block;
    color: #ff3347;
}

.description {
    max-width: 650px;

    color: #a4afc2;

    font-size: 18px;
    line-height: 1.7;
}

.status-card {
    max-width: 650px;

    margin-top: 30px;
    padding: 22px;

    background: #0d1422;

    border: 1px solid #263248;
    border-radius: 16px;
}

.status-row {
    display: flex;
    justify-content: space-between;

    padding: 15px 0;

    border-bottom: 1px solid #263248;
}

.status-row:last-child {
    border-bottom: none;
}

.status-row span {
    color: #929db2;
}

.status-row strong {
    color: #55e6a5;
}

.sos-button {
    width: 100%;
    max-width: 650px;

    margin-top: 25px;
    padding: 20px;

    border: none;
    border-radius: 14px;

    background: #df1731;
    color: white;

    font-size: 21px;
    font-weight: bold;

    cursor: pointer;
}

.sos-button:hover {
    background: #ff3347;
}

.sos-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.message {
    min-height: 25px;
    margin-top: 15px;

    color: #55e6a5;
    font-weight: bold;
}

.sensor-card {
    padding: 32px;

    background: #0d1422;

    border: 1px solid #263248;
    border-radius: 20px;
}

.sensor-card h2 {
    margin-bottom: 25px;
}

.sensor-row {
    display: flex;
    justify-content: space-between;

    padding: 17px 0;

    border-bottom: 1px solid #263248;
}

.sensor-row span {
    color: #98a5bb;
}

.sensor-row strong {
    color: #4cc9f0;
}

.safe-box,
.danger-box {
    margin-top: 25px;
    padding: 20px;

    border-radius: 12px;

    text-align: center;
    font-weight: bold;
}

.safe-box {
    background: #111a2a;
    color: #55e6a5;
}

.danger-box {
    background: #d71931;
    color: white;
}

.how {
    max-width: 1200px;
    margin: auto;
    padding: 30px 25px 80px;
}

.how h2 {
    margin-bottom: 35px;
    text-align: center;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.step {
    padding: 25px;

    background: #0d1422;

    border: 1px solid #263248;
    border-radius: 15px;
}

.number {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #2563eb;

    font-weight: bold;
}

.step h3 {
    margin-top: 18px;
}

.step p {
    margin-top: 10px;
    color: #929db2;
    line-height: 1.5;
}

footer {
    padding: 25px;

    text-align: center;

    border-top: 1px solid #222c3c;

    color: #778399;
}

@media (max-width: 850px) {

    .navbar {
        padding: 0 20px;
    }

    .logo {
        font-size: 17px;
    }

    .start-btn {
        padding: 11px;
        font-size: 12px;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 55px 20px;
    }

    h1 {
        font-size: 43px;
    }

    .steps {
        grid-template-columns: 1fr;
    }
}
